{% extends 'signupbase.html' %}
{% load static %}

{% block signuptitle %} Parolu unutmusan? {% endblock %}

{% block signup_content %}

        <section class="container forms">
            <div class="form login">
                <div class="form-content">
                    <header>Parol sıfırlama</header>
                    <form method="POST" action="{% url 'forget_password_request' %}">
                        {% csrf_token %}
                        {% if messages %}
                            {% for message in messages %}
                                <h4 class="alert {{ message.tags }} m-2"> {{message}} </h4>
                            {% endfor %}
                        {% endif %}
                        <div class="field input-field">
                            <label for="phone_number">Telefon nömrəsi:
                                <input type="text" value="994" class="input" name="phone_number" required>
                            </label>
                        </div>
                        <br>

                        <div class="field button-field">
                            <button>Göndər</button>
                        </div>
                    </form>
                </div>

                <div class="line"></div>
            </div>
        </section>

{% endblock %}