{% extends "admin/change_form.html" %}

{% block content %}
    <div class="container">
        <ul style="font-weight: bold; font-size: 20px;">Nümunə
            <li>Yüngül lehimli disklər</li>
            <li>Mərkəzi qapanma</li>
            <li>Dəri salon</li>
            <li>Oturacaqların ventilyasiyası</li>
            <li>ABS</li>
            <li>Park radarı</li>
            <li>Ksenon lampalar</li>
            <li>Lyuk</li>
            <li>Kondisioner</li>
            <li>Arxa görüntü kamerası</li>
            <li>Yağış sensoru</li>
            <li>Oturacaqların isidilməsi</li>
            <li>Yan pərdələr</li>
        </ul>
    </div>
{{ block.super }}
{% endblock %}
